streamlit
torch
torchvision
opencv-python-headless
albumentations
numpy
Pillow
scikit-image
scikit-learn
matplotlib
onnxruntime
onnxruntime-gpu
onnx
librosa
soundfile
pydub
supervision